a:hover {
  color: black;
}

.card img {
  height: 70px;
  width: 60px;
  /* border-radius: 50%; */
}

.card {
  border: none;
}

.card {
  position: relative;
}
.card > span {
  position: absolute;
  right: 0;
  bottom: 0;
}

.highlight {
  background: rgb(0, 255, 106) !important;
}
